@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    height: 100px;
    background: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;

}

.logo{
   
    flex: 20%;
    margin-left: 10%;
    /* border: 1px solid black; */
    text-align: left;
    margin-bottom: 0%;
}

.logo img{
    height: 80px;
    width:250px;

}

.logo h1{
    float: left;
    font-family: 'Lobster' , cursive;
    color: #180F4A;
    font-size: 30px ;
}

.menu{
    flex:60%;
    /* border: 1px solid green; */
    text-align: right;
    padding: 20px;
}

.menu a{
    color: #180F4A;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
    color: #FF2978;
    border-top: 4px solid #180F4A;
}

#botao{
    background: #180F4A;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 15%;
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background: #FF2978;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    padding-top: 100px;
}

.headline{
    flex: 40%;
    margin-left: 10%;
    /* border: 1px solid black; */
}

.headline p{
    color: gray;
    text-align: left;
}

.contact-btn{
    display: inline-block;
    background: #FF2978;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover{
    background: #180F4A;
    
}

.headline h2{
    font-weight: 900;
    font-size: 18px;
    color: #180F4A;
    padding: 0;
    margin: 0;
}
.img-headline{
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid pink; */
    text-align: center;
}

section{
    display: inline-block;
    margin-top: 80px;
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
    /* width: 90%; */
}

section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #180F4A;
}

.serviços{
    display: inline-block;
    margin-top: 5%;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px; 
    margin: 1%;
    /* border:1px solid #FF2978; */
    border-radius: 10px;
    cursor: pointer;
    background-color: #f5b9cf;
}


.card:hover{
    padding: 30px 20px ;
}


footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(20deg,#0f016b,#e5e3f2);
    text-align:center;

}

footer p , h1{
    text-align: left;
}

.logo-rodape{
    padding: 100px; 
}

.agencia{
    font-family: 'Lobster' , cursive;
    color:white;
    font-size: 30px ;
}



